# server configuration
HOST=<server host>
PORT=<server port>

# node-postgres configuration
PGUSER=<postgres user>
PGHOST=<postgres host>
PGPASSWORD=<postgres password>
PGDATABASE=<postgres database>
PGPORT=<postgres post>