# server configuration
HOST=<server host>
PORT=<server port>

# node-postgres configuration
PGUSER=<postgres user>
PGHOST=<postgres host>
PGPASSWORD=<postgres password>
PGDATABASE=<postgres database>
PGPORT=<postgres post>

# jwt token
ACCESS_TOKEN_KEY=<jwt access token key>
REFRESH_TOKEN_KEY=<jwt refresh token key>
ACCESS_TOKEN_AGE=<jwt access token age in seconds>